.desc-table {
	border-collapse: collapse;
}

.desc-table td {
	border: none;
	padding: 8px;
}

.desc-table tr td:first-child {
	font-weight: bold;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	position: absolute;
	left: -10000px;
	z-index: -1;
}

.thumbnail-sm {
	width: 250px;
	margin: 4px;
	padding: 4px;
	border: 1px solid #e0e0e0;
	display: inline-block;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	cursor: pointer;
	background: #ffffff;
}

.thumbnail-sm p {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	width: 240px;
	padding: 2px 8px;
}

.img-preview {
	object-fit: cover;
	width: 200px;
	height: 175px;
}

.pdf-preview {
	object-fit: contain;
	width: 200px;
	height: 175px;
}